:root,
body,
html {
  box-sizing: border-box;
  max-width: 100vw;
  max-height: 100hv;
  margin: 0px;
}

.container {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100vh;
}

form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  z-index: 10;
  width: 50%;
}

.group-inputs {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.group-inputs > input {
  width: 40%;
  line-height: 44px;
  padding: 4px;
  font-size: 20px;
  margin: 10px;
  border: 0;
  border-bottom: 2px solid white;
  background-color: transparent;
}

input::placeholder{
  color: white;
}


#background-image {
  max-width: 100vw;
  max-height: 100hv;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  opacity: 0.50;
}


