:root,
body,
html {
  box-sizing: border-box;
  max-width: 100vw;
  max-height: 100hv;
  margin: 0px;
}

.container {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100vh;
}

#background-image {
  max-width: 100vw;
  max-height: 100hv;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;

}

form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  z-index: 10;
  width: 50%;
}
